.card {
border: 1px solid black;
max-width: 300px;
padding: 20px;

display: flex;
flex-direction: column;
gap: 15px;

width: 100%;
transition: 0.5s;
backdrop-filter: blur(10px);
&:hover {
   scale: 1.05; 
   box-shadow: 0 0 10px 0 rgba(10, 9, 9, 0)
}

img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

button {
    padding: 10px;
    background-color: lightgreen;
    border-radius: 20px;
}

}


